<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129323982676-j05fovvducfpl3k2bg2ekbvntlvderd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129323982676-j05fovvducfpl3k2bg2ekbvntlvderd1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>129323982676-1no59i2tonu9tb2581b850h6qv5gvn9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcqPNXDR1Xmsu0raNC0lZdTYSXHo8HhRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>129323982676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TrendTaxiApp</string>
	<key>PROJECT_ID</key>
	<string>trendtaxi</string>
	<key>STORAGE_BUCKET</key>
	<string>trendtaxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129323982676:ios:0e477f9de5b14fd56232c1</string>
</dict>
</plist>